{% extends 'base.html' %}
{% block content %}
    <h2>Log In</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username_or_email.label(class="form-control-label") }}
            {% if form.username_or_email.errors %}
                {{ form.username_or_email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username_or_email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username_or_email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
            <a href="{{ url_for('users.reset_password') }}"><small>Forgot password?</small></a>
        </div>
        <div class="form-group">
            {{ form.remember_me }}
            {{ form.remember_me.label }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-dark") }}
        </div>
    </form>
    <div class="border-top mt-2">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{ url_for('users.signup') }}">Sign up</a>
        </small>
    </div>
{% endblock %}