{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2>{{ current_user.username }}'s Profile</h2>
            {% if current_user.full_name %}
                <h5>{{ current_user.full_name }}</h5>
            {% endif %}
            <p>{{ current_user.email }}</p>
            <hr>
            <p>Address: {{ current_user.address }}</p>
            {% if current_user.activated %}
                <a class="btn btn-outline-dark" href="{{ url_for('users.edit') }}">Edit</a>
                <a class="btn btn-outline-dark" href="{{ url_for('users.password_change_request') }}">Change Password</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('users.resend') }}">Resend Activation E-mail</a>
            {% endif %}
        </div>
    </div>
{% endblock %}